In [1]:
import pandas as pd

In [2]:
one_star_df = pd.read_csv(f'../Data/Raw/one-star-michelin-restaurants.csv')

In [3]:
one_star_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...

In [4]:
one_star_df['stars'] = '1'

In [6]:
two_stars_df = pd.read_csv(f'../Data/Raw/two-stars-michelin-restaurants.csv')

In [8]:
two_stars_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,SENNS.Restaurant,2019,47.83636,13.06389,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
1,Ikarus,2019,47.79536,13.00695,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2,Mraz & Sohn,2019,48.23129,16.37637,Wien,Austria,1200,Creative,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
3,Konstantin Filippou,2019,48.21056,16.37996,Wien,Austria,1010,Modern cuisine,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
4,Silvio Nickol Gourmet Restaurant,2019,48.20558,16.37693,Wien,Austria,1010,Modern cuisine,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...

In [9]:
two_stars_df['stars'] = '2'

In [10]:
three_stars_df = pd.read_csv(f'../Data/Raw/three-stars-michelin-restaurants.csv')

In [11]:
three_stars_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,Amador,2019,48.25406,16.35915,Wien,Austria,1190,Creative,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
1,Manresa,2019,37.22761,-121.98071,South San Francisco,California,95030,Contemporary,$$$$,https://guide.michelin.com/us/en/california/so...
2,Benu,2019,37.78521,-122.39876,San Francisco,California,94105,Asian,$$$$,https://guide.michelin.com/us/en/california/sa...
3,Quince,2019,37.79762,-122.40337,San Francisco,California,94133,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...
4,Atelier Crenn,2019,37.79835,-122.43586,San Francisco,California,94123,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...

In [12]:
three_stars_df['stars'] = '3'

In [13]:
all_restaurants = pd.concat([one_star_df, two_stars_df, three_stars_df])

In [14]:
all_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 695 entries, 0 to 35
Data columns (total 11 columns):
name         695 non-null object
year         695 non-null int64
latitude     695 non-null float64
longitude    695 non-null float64
city         693 non-null object
region       695 non-null object
zipCode      501 non-null object
cuisine      695 non-null object
price        519 non-null object
url          695 non-null object
stars        695 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 65.2+ KB

In [17]:
null_cols = all_restaurants.isnull().sum()
null_cols[null_cols > 0] / len(all_restaurants) * 100

city        0.287770
zipCode    27.913669
price      25.323741
dtype: float64

In [19]:
all_restaurants['cuisine'].value_counts()

Modern cuisine          108
Contemporary             75
Japanese                 54
Creative                 46
Cantonese                40
                       ...
Italian contemporary      1
Sichuan                   1
Market cuisine            1
Meats and grills          1
Noodles and congee        1
Name: cuisine, Length: 70, dtype: int64

In [20]:
all_restaurants.cuisine.unique()

array(['Creative', 'Classic cuisine', 'Market cuisine', 'Modern cuisine',
       'Japanese', 'Vegetarian', 'Contemporary', 'Indian', 'Korean',
       'Californian', 'American', 'International', 'Moroccan', 'Thai',
       'Chinese', 'Fusion', 'Italian', 'French', 'Asian', 'Steakhouse',
       'Mexican', 'Gastropub', 'Danish', 'Classic French', 'Finnish',
       'Mediterranean', 'Seafood', 'Cantonese', 'Dim Sum', 'Teppanyaki',
       'Sushi', 'Shanghainese', 'Noodles and congee', 'Innovative',
       'Cantonese Roast Meats', 'Taizhou', 'Sichuan',
       'European contemporary', 'Scandinavian', 'Austrian', 'Spanish',
       'Modern British', 'modern', 'Asian influences', 'creative',
       'French contemporary', 'Korean contemporary', 'Temple cuisine',
       'Street Food', 'Fujian', 'Australian', 'Italian contemporary',
       'Barbecue', 'Peranakan', 'Meats and grills', 'Taiwanese',
       'Hang Zhou', 'Asian contemporary', 'Thai Contemporary',
       'Southern Thai', 'European', 'Creative British',
       'Traditional British', 'Regional cuisine', 'Mediterranean cuisine',
       'Creative French', 'Modern French', 'Hunanese and Sichuan',
       'Japanese contemporary', 'Sichuan-Huai Yang'], dtype=object)

In [21]:
all_restaurants.to_csv(f'../Data/Processed/all_restaurants.csv')